@{
    ViewBag.Title = "Login";
}

<head>
    <link rel="stylesheet" href="~/Content/StyleSheet1.css">
</head>

<div class="container">
    <h2>Login</h2>
    <form method="post" action="/Auth/Login" class="form-container">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="error-message">
                @ViewBag.ErrorMessage
            </div>
        }
    </form>
    <p>Don't have an account? <a href="/Auth/SignUp">Sign up here</a></p>
</div>
